
html,
body {
	height: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	color: #070707;
	text-align: center;
}



#section1 {
	background-image: url('flag.jpg');
	background-size: cover;
	color: #070707;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;

}

#mobileMain {
	background-image: url('') ;
	background-size: cover;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
}


#section2 {
	align-items: center;
}



#section3 {
	background-image: url(adventure.jpg);
	background-size: cover;
	color: #070707;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;

}

.lead {
	font-weight: bold;
}

div.g-recaptcha > div {
	margin: 0 auto 1.5rem auto;
}

.blockquote {
	font-size: 1.6rem;
	color: #333;
	border: none;
	padding: 0;
}



.table{
	text-align-all: center;
}

.text-center {
	text-align-all: center;

}

.feature-content {
	padding: 8rem 0;
	overflow: hidden;
}

.feature-content img {
	margin-bottom: -8rem;
}

.feature-dark {
	background: #262F36;
	color: white;
}

.feature-dark h2 {
	color: white;
}

@media (min-width:720px) {
	#mobileMain {
		display:none !important;

	}
}


@media only screen and (max-width: 767px) {
	#section2 {
		display:none !important;
	}

}

@media only screen and (max-width: 767px) {
	#section3 {
		display:none !important;
	}
}