
html,
body {
	height: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	color: #070707;
}






#section1 {
	background-image: url('jet.jpg');
	background-size: cover;
	color: #070707;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;

}

#section3 {
	background-image: url(adventure.jpg);
	background-size: cover;
	color: #070707;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;

}


.blockquote {
	font-size: 1.6rem;
	color: #333;
	border: none;
	padding: 0;
}






.feature-content {
	padding: 8rem 0;
	overflow: hidden;
}

.feature-content img {
	margin-bottom: -8rem;
}

.feature-dark {
	background: #262F36;
	color: white;
}

.feature-dark h2 {
	color: white;
}





/* Media Queries */

@media screen and ( min-width : 500px ) {

	.feature-content {
		display: flex;
		align-items: center;
	}

}







