
html,
body {
	height: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	color: #070707;
	text-align: center;
}

#section1 {
	background-image: url('flag.jpg');
	background-size: cover;
	color: whitesmoke;
	text-shadow: 2px 2px 2px black;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
}

#mobileIntro {
	background-image: url('grungeFlag.jpg');
	background-size: cover;
	color: whitesmoke;
	text-shadow: 2px 2px 2px black;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
}

#mobileMain {
	background-image: url('chalk.jpg') ;
	background-size: cover;
	color: whitesmoke;
	text-shadow: 2px 2px 2px black;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
}

#section2 {
	align-items: center;
	color: whitesmoke;
	text-shadow: 2px 2px 2px black;
}

#section3 {
	background-image: url(adventure.jpg);
	background-size: cover;
	color: whitesmoke;
	text-shadow: 2px 2px 2px black;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;

}

#section4 {
	color: whitesmoke;
	text-shadow: 2px 2px 2px black;
}

#btn-success {
	background-color: dodgerblue;
	border-color: dodgerblue;
}

#btn-warning {
	background-color: crimson;
	border-color: crimson;
}

.lead {
	font-weight: bold;
	font-family: "Rockwell Extra Bold";
}

div.g-recaptcha > div {
	margin: 0 auto 1.5rem auto;
}

.blockquote {
	font-size: 1.6rem;
	color: #333;
	border: none;
	padding: 0;
}

.table{
	text-align-all: center;
}

.text-center {
	text-align-all: center;
}

.feature-content {
	padding: 8rem 0;
	overflow: hidden;
}

.feature-dark {
	background: #262F36;
	color: white;
}

.feature-dark h2 {
	color: white;
}

@media (min-width:720px) {
	#mobileIntro {
		display:none !important;
	}
}

@media (min-width:720px) {
	#mobileMain {
		display:none !important;
	}
}

@media only screen and (max-width: 767px) {
	#section1 {
		display:none !important;
	}
}

@media only screen and (max-width: 767px) {
	#section2 {
		display:none !important;
	}
}

@media only screen and (max-width: 767px) {
	#section3 {
		display:none !important;
	}
}